<html>
<head>{{page_title}}</head>
<body>
    <p><a href="/">Home. </a></p>
    {% if clients %}
    <ul>
        {% for client in clients %}
            <li><a href="/client/{{ client.id }}/">{{ client.server_id }}&nbsp;{{ client.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    {% if form %}
    <p><a href="/clients/">Client list. </a></p>
        <form method="POST" action = "" >{% csrf_token %}
           
            {{ form.as_p }}  
           
           <br><input type="submit" value="Save">
        </form>
    {% endif %}

     
</body>
</html>
